.trackItem {
	white-space: wrap;
	word-break: break-all;
	/* display: grid;
	grid-template-columns: 1fr 60px; */
	gap: 0 15px;
	align-items: center;
	padding: 12px 15px;
	position: relative;
	display: flex;
	justify-content: space-between;
}

.trackItem > span {
	white-space: wrap;
	word-break: break-all;
	display: grid;
	grid-template-columns: 45px 1fr;
	gap: 0 15px;
	align-items: center;
	position: relative;
	width: 80%
}

.trackItem .thumbnail {
	border-radius: 4px;
	grid-area: 1 / 1 / 3 / 2;
}

.trackItem .title {
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	grid-area: 1 / 2 / 2 / 3;
	font-size: 14px;
	white-space: nowrap;
}
.trackItem .artist {
	font-size: 13px;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	grid-area: 2 / 2 / 3 / 3;
	color: var(--DarkGrey);
	position: absolute;
	bottom: 3px;
	left: 0;
	cursor: pointer;
}
.trackItem .bottomInfo {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.trackItem .buttonGroup {
	width: 60px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.artist .artistName {
	display: flex;
	gap: 5px;
}

span.albumTrackInfoWrap {
	display: flex;
	/* width: calc(100% - 50px); */
	overflow: hidden;
	flex: 1;
}
span.albumTrackInfoWrap .albumTrackInfo {
	display: flex;
	gap: 8px;
	overflow: hidden;
}
span.albumTrackInfoWrap .albumTrackInfo .title {
	padding-top: 3px;
}

span.albumTrackInfoWrap .albumArtistInfo {
	position: absolute;
	bottom: 2px;
	left: 55px;
	display: flex;
	gap: 5px;
}

span.albumTrackInfoWrap .albumArtistInfo .artist {
	position: relative;
}

.trackItem .buttonGroup.payment {
	width: 75px;
}
.btnPayment {
	color: #fff;
	border: 1px solid var(--borderDark);
	border-radius: 3px;
	width: 120px;
	height: 38px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 14px;
	background-color: #ac8357;
}
.priceNum {
	display: flex;
	align-items: center;
	gap: 5px;
	font-size: 13px;
}

.priceWrapper {
	display: flex;
	align-items: center;
	gap: 5px;
	font-size: 13px;
}

.btnPayment.no {
	background: #2b2b2b;
}
.btnPayment.no p {
	color: #959595;
}

.btnPaymentCancel {
	color: #ac8357;
	font-size: 13px;
	border-bottom: 1px solid #5e472e;
	margin-right: 5px;
}
