.trackItem {
	white-space: wrap;
	word-break: break-all;
	display: grid;
	grid-template-columns: 1fr 60px;
	gap: 0 15px;
	align-items: center;
	padding: 12px 15px;
}

.trackItem a {
	white-space: wrap;
	word-break: break-all;
	display: grid;
	grid-template-columns: 45px 1fr;
	gap: 0 15px;
	align-items: center;
}

.trackItem .thumbnail {
	border-radius: 4px;
	grid-area: 1 / 1 / 3 / 2;
}

.trackItem .title {
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	grid-area: 1 / 2 / 2 / 3;
	font-size: 14px;
	white-space: nowrap;
}
.trackItem .artist {
	font-size: 13px;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	grid-area: 2 / 2 / 3 / 3;
	color: var(--DarkGrey);
}
.trackItem .bottomInfo {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.trackItem .buttonGroup {
	width: 60px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
