.albumList {
	display: flex;
	width: 100vw;
	overflow-y: auto;
	padding: 0 15px 15px;
	gap: 10px;
	white-space: nowrap;
}
.albumList li {
	width: 130px;
}

.noScroll {
	flex-wrap: wrap;
	gap: 18px 0;
	width: 100%;
	padding: 0 10px 15px;
}
.noScroll li {
	width: calc(100% / 3);
	padding: 0 5px;
}
.noScroll li > div,
.noScroll li > div a {
	width: 100%;
}
.noScroll li img {
	width: 100%;
	height: auto;
}
