.leftMenu {
	height: 100vh;
	width: 300px;
	padding: 0;
	position: fixed;
	left: 0;
	top: 0;
}
.leftMenu ul li {
	width: 100%;
	transition: all 0.4s;
}

.leftMenu ul li[class="active"] {
	background: var(--mainColor);
}
