.leftMain {
	height: 100vh;
	width: 50px;
	padding: 0;
	position: fixed;
	left: 0;
	top: 0;
}
.leftMain ul li {
	width: 100%;
	transition: all 0.4s;
}

.leftMain ul li[class="active"] {
	background: var(--mainColor);
}

.leftSub {
	background: #ddd;
	height: 100vh;
	width: 200px;
	padding: 0;
	position: fixed;
	left: 50px;
	top: 0;
}
