.price {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 15px;
}

.priceNum {
	display: flex;
	align-items: center;
	gap: 5px;
}

.priceButtonGroup {
	border-top: 1px solid var(--borderDark);
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 15px;
	padding: 15px;
}

.priceButtonGroup button {
	color: #fff;
	background: #000;
	border: 1px solid var(--borderDark);
	border-radius: 3px;
	width: 100%;
	height: 38px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 14px;
}

.priceButtonGroup .btnPayment {
	background-color: #ac8357;
}
