.keyword {
	text-align: center;
	background: #000;
	border: 1px solid var(--borderDark);
	border-radius: 30px;
	color: #fff;
	min-width: 50px;
	height: 35px;
	padding: 0 15px;
	white-space: nowrap;
}
